body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    background-color: rgb(203, 242, 255);
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

#header a {
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

#page-content {
    width: 100%;
    min-height: 15em;
}

#footer {
    width: 100%;
    height: 4em;
    font-size: x-small;
    background-color: rgb(203, 242, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

#footer a {
    margin-left: 1em;
}